@using Helpdesk.Domain.Entities.Computers
@model Helpdesk.WebUI.Models.Requests.RequestChooseComputerViewModel

@{
    ViewBag.Title = "Nowe zgłoszenie :: Wybierz komputer";
}

<h2>Nowe zgłoszenie</h2>
<h4>@Model.CustomerName</h4>
<hr />
<h5>Wybierz komputer</h5>
<p>
    @Html.ActionLink("Zgłoszenie dla komponentu", "CreateTemp", "Computers", new { customerID = Model.CustomerID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Dodaj komputer", "Create", "Computers", new { customerID = Model.CustomerID }, new { @class = "btn btn-info" })
</p>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            SerialNo
        </th>
        <th></th>
    </tr>
    @foreach (Computer computer in Model.Computers)
            {
        <tr>
            <td>
                @computer.ID
            </td>
            <td>
                @computer.Name
            </td>
            <td>
                @computer.SerialNo
            </td>
            <td>
                @Html.ActionLink("Wybierz", "Create", new { computerID = computer.ID })
            </td>
        </tr>
    }
</table>

<div>
    @*@Html.ActionLink("Back to Customers List", "Create")<br />
    @Html.ActionLink("Back to Requests List", "Index")*@
</div>
