@model IEnumerable<Helpdesk.Domain.Entities.Computers.Computer>

@using Helpdesk.Domain.Entities.Computers

@{
    ViewBag.Title = "Create";
}

<h2>New Request</h2>

<h4>Choose computer</h4>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNo)
        </th>
        <th></th>
    </tr>
    @foreach (Computer computer in Model)
            {
        <tr>
            <td>
                @computer.ID
            </td>
            <td>
                @computer.Name
            </td>
            <td>
                @computer.SerialNo
            </td>
            <td>
                @Html.RouteLink("Select", "Create_New", new { computer = computer.ID, customer = computer.OwnerID })
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
