@model Helpdesk.WebUI.Models.Requests.RequestCustomerCreateViewModel

@{
    ViewBag.Title = "CustomerCreate";
}

<h2>CustomerCreate</h2>
<h4>Request</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Klient</label>
            <div class="col-md-10">@Model.CustomerName</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComputerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <em class="small">Możesz wybrać, którego komputera dotyczy zgłoszenie. Jeżeli nie jesteś pewien lub komputera nie ma na liście, pozostaw pole puste.</em>
                @Html.DropDownListFor(model => model.ComputerID, new SelectList(Model.Computers, "ID", "Name", Model.ComputerID), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ComputerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "resize: none", rows = 4 })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

