@using Helpdesk.WebUI.Helpers
@model Helpdesk.WebUI.Models.RequestDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResolvedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResolvedDate)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Description</th>
            <th>Status</th>
        </tr>

        @foreach (var item in Model.Calls)
            {
            <tr>
                <td>
                    @Html.DisplayFor(call => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(call => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(call => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(call => item.Status.Description)
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Details", new { id = Model.ID, page = x }))
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
