@using Helpdesk.WebUI.Helpers
@using Helpdesk.WebUI.Models.Customers
@model Helpdesk.WebUI.Models.Customers.CustomerIndexViewModel

@{
    ViewBag.Title = "Klienci";
}

<h2>Kienci</h2>

<p>
    @Html.ActionLink("Dodaj klienta", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            Nazwa
        </th>
        <th class="text-right">Komputery</th>
        <th class="text-right">Zgłoszenia</th>
        <th class="text-right" />
    </tr>

    @foreach (CustomerIndexViewModel.Customer item in Model.Customers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.ComputersCount)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.RequestsCount)
            </td>
            <td class="text-right">
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID })
            </td>
        </tr>
    }
</table>

<div align="center">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>
